.projetos h1 {
  text-align: center;
  padding: 30px 0px;
  @include tipografia(48);
  color: $cor-primaria;
}

.projetos p {
  margin: auto;
  text-align: center;
  @include tipografia(24);
  max-width: 50ch;
  margin-bottom: 60px;
  color: $cinza-claro;
}

@media (max-width: 800px) {
  .projetos h1,
  .projetos p {
    text-align: left;
    margin-left: 20px;
  }
}

.container-projetos {
  max-width: 1200px;
  margin: 60px auto 120px;
  padding: 0px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 20px;
}

.container-projetos .box {
  background: $cor-secundaria;
  padding: 20px;
  border-radius: 5px;
}

.box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.info h2 {
  @include tipografia(20);
  color: $cor-primaria;
  margin: 15px 0 5px 0;
}

.info span {
  color: $cinza-claro;
  @include tipografia(14);
}

.buttons a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 20px;
  margin: 20px 10px 0 0;
  color: $cor-primaria;
  font-weight: bold;
  letter-spacing: 1px;
  background: $bg-claro;
  border-radius: 3px;
  transition: transform .3s;
}

.buttons a:hover {
  transform: translateY(-4px);
}