.footer {
  background: $black;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  @include tipografia(24);
  color: $cinza;
}

.footer-contato li {
  font-weight: bold;
  @include tipografia(32);
  margin-bottom: 30px;
}

.footer-contato li a {
  color: $white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

.footer-contato li svg {
  display: inline-block;
  margin-right: 20px;
}

.footer-copy {
  grid-column: 1 / -1;
  color: $titulo-h3;
  @include tipografia(18);
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-cotato li {
    @include tipografia(24);
  }
}