.projetos h1 {
  text-align: center;
  padding: 30px 0px;
  font-size: 48px;
  color: #141414;
}

.projetos p {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-bottom: 60px;
  color: #525252;
}

@media (max-width: 800px) {
  .projetos h1,
  .projetos p {
    text-align: left;
    margin-left: 20px;
  }
}

.container-projetos {
  max-width: 1200px;
  margin: 60px auto 120px;
  padding: 0px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 20px;
}

.container-projetos .box {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.info h2 {
  font-size: 1.25rem;
  line-height: 1.1;
  color: #141414;
  margin: 15px 0 5px 0;
}

.info span {
  font-size: .875rem;
  line-height: 1.4;
  color: #525252;
}

.buttons a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 20px;
  margin: 20px 10px 0 0;
  color: #141414;
  font-weight: bold;
  letter-spacing: 1px;
  background: #e0e0e0;
  border-radius: 3px;
  transition: transform .3s;
}

.buttons a:hover {
  transform: translateY(-4px);
}