@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  /* colors */
  --azul: #0088ff;
  --texto: #11114c;
  --bg-projetos: #f3f9fc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/* ------ Estilos Gerais ------------ */
.header-menu,
footer {
  background: linear-gradient(90.57deg, #bb00ff 16.25%, #5511bb 85.97%);
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--texto);
  text-align: center;
  text-transform: uppercase;
}

.title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--azul);
  margin: 4px auto;
}

/* --------- menu ----------- */
.nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0 40px;
}

@media (max-width: 750px) {
  .nav-menu {
    justify-content: center;
  }
  .lista-menu li {
    margin: 20px auto 10px auto;
  }
}

.lista-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.lista-menu li {
  margin-left: 20px;
}

.lista-menu a {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 10px;

  transition: 0.3s;
}

.lista-menu a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

@media (max-width: 630px) {
  .nav-menu {
    justify-content: center;
  }
  .lista-menu li {
    margin: 20px auto 10px auto;
  }
}

@media (max-width: 400px) {
  .lista-menu {
    display: block;
    text-align: center;
  }
}

/* ---- sobre -------- */
.sobre {
  margin: 80px auto;
}

.sobre p {
  color: var(--texto);
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  max-width: 750px;
  margin: 20px auto;
}

.btn-cv {
  background: var(--azul);
  display: block;
  width: 180px;
  margin: 40px auto 80px auto;
}

a.btn-cv {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

a.btn-cv:hover {
  background: rgb(27, 27, 179);
}

@media (max-width: 768px) {
  .sobre {
    padding: 0 20px;
  }
}

/* ------ conhecimentos ----------- */
.conhecimentos {
  border-top: 3px solid var(--azul);
  border-bottom: 3px solid var(--azul);
}

.conhecimentos h1 {
  margin-top: 60px;
}

.conhecimentos ul {
  display: flex;
  flex-wrap: wrap;
}

.imgs-top,
.imgs-bottom {
  justify-content: space-evenly;
  margin: 80px;
}

@media (max-width: 700px) {
  .imgs-bottom li,
  .imgs-top li {
    margin: 30px;
  }
}

@media (max-width: 460px) {
  .conhecimentos ul {
    margin: 0;
  }
}

/* ------ projetos ----------- */
.projetos h1 {
  margin: 60px 0;
}

.projeto {
  background: var(--bg-projetos);
  margin: 60px 0;
  border-radius: 5px;
  color: var(--texto);

  padding: 20px;

  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */

  max-width: 900px;
  margin: 60px auto 20px;
}

@media (max-width: 910px) {
  .projeto {
    margin: 40px 20px;
  }
}

.content {
  padding: 20px;
}

.content h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.content p {
  max-width: 400px;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--azul);
  padding: 10px 30px;
  border-radius: 5px;
  margin-right: 40px;
  transition: 0.3s;
}

.btn::after {
  content: "➞";
  display: inline-block;
  margin-left: 15px;
}

.btn:hover {
  background: rgb(27, 27, 179);
}

.repositorio {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.1s;
  display: inline-block;
  margin: 20px 0;
}

.repositorio:hover {
  color: rgba(0, 0, 0, 0.7);
  outline: solid;
}

@media (max-width: 700px) {
  .projeto {
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 20px;
  }
}

@media (max-width: 475px) {
  .btn,
  .repositorio {
    width: 100%;
    text-align: center;
  }
}

/* ------ contatos ----------- */
.contato h1 {
  margin-top: 60px;
}

.contato p {
  color: var(--texto);
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.5;
  margin-top: 20px;
  font-weight: bold;
}

.icones {
  display: flex;
  gap: 25px;
  justify-content: center;
  padding: 20px;
  margin-bottom: 40px;
}

/* ------ footer ----- */
footer {
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-weight: bold;
}
